# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore environment variables
.env

# Ignore IDE/project files
.idea/
*.iml

# Node.js dependencies and build files
node_modules/
dist/